# Local environment configuration
.env

# Generated mechanical reports
mechanical_reports/*
!mechanical_reports/.gitkeep

# ros2_ws workspace artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# CANopen workspace artifacts
embr_sim/canopen_ws/build/
embr_sim/canopen_ws/install/
embr_sim/canopen_ws/log/
